In [172]:
import pandas as pd
import numpy as np
df = pd.read_csv("raw data/aac_shelter_outcomes.csv")

df.head()

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male
1,1 year,A666430,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Lucy,Partner,Transfer,Spayed Female
2,1 year,A675708,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,*Johnny,NaN,Adoption,Neutered Male
3,9 years,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Monday,Partner,Transfer,Neutered Male
4,5 months,A683115,Other,Bat Mix,Brown,2014-01-07T00:00:00,2014-07-07T14:04:00,2014-07-07T14:04:00,NaN,Rabies Risk,Euthanasia,Unknown

In [173]:
dfdogs = df[df["animal_type"] == "Dog"]

dfdogs.head(30)

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
1,1 year,A666430,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Lucy,Partner,Transfer,Spayed Female
2,1 year,A675708,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,*Johnny,NaN,Adoption,Neutered Male
3,9 years,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Monday,Partner,Transfer,Neutered Male
5,4 months,A664462,Dog,Leonberger Mix,Brown/White,2013-06-03T00:00:00,2013-10-07T13:06:00,2013-10-07T13:06:00,*Edgar,Partner,Transfer,Intact Male
7,3 years,A692618,Dog,Chihuahua Shorthair Mix,Brown,2011-11-23T00:00:00,2014-12-08T15:55:00,2014-12-08T15:55:00,*Ella,Partner,Transfer,Spayed Female
11,2 years,A673652,Dog,Papillon/Border Collie,Black/White,2012-02-28T00:00:00,2014-03-28T14:39:00,2014-03-28T14:39:00,Fancy,Partner,Transfer,Neutered Male
12,2 months,A677679,Dog,Chihuahua Shorthair/Pomeranian,Black,2014-03-07T00:00:00,2014-05-26T19:10:00,2014-05-26T19:10:00,Kash,Foster,Adoption,Neutered Male
13,4 years,A640655,Dog,Miniature Schnauzer/Miniature Poodle,White,2009-04-27T00:00:00,2014-04-25T11:17:00,2014-04-25T11:17:00,Sandy,NaN,Return to Owner,Spayed Female
14,8 years,A690350,Dog,Labrador Retriever Mix,Black,2006-10-18T00:00:00,2014-10-26T18:20:00,2014-10-26T18:20:00,Shy,NaN,Return to Owner,Neutered Male
15,2 years,A680396,Dog,Rat Terrier Mix,White/Black,2012-06-02T00:00:00,2014-06-15T15:11:00,2014-06-15T15:11:00,*Truman,Partner,Transfer,Neutered Male
16,1 year,A674298,Dog,Pit Bull Mix,Brown Brindle/White,2013-03-11T00:00:00,2014-04-16T12:51:00,2014-04-16T12:51:00,*Newt,Partner,Transfer,Neutered Male
18,2 months,A692378,Dog,German Shepherd/Labrador Retriever,Black/White,2014-10-19T00:00:00,2014-12-21T18:20:00,2014-12-21T18:20:00,*Bonnie,Foster,Adoption,Spayed Female
22,2 years,A666660,Dog,Beagle Mix,Tan/White,2012-05-05T00:00:00,2014-12-11T17:52:00,2014-12-11T17:52:00,Dolly,NaN,Adoption,Spayed Female
25,1 year,A689952,Dog,Mastiff Mix,Brown Brindle,2013-10-11T00:00:00,2014-10-19T17:54:00,2014-10-19T17:54:00,Olive,NaN,Adoption,Spayed Female
26,4 months,A669621,Dog,Plott Hound Mix,Brown Brindle/Black,2013-08-23T00:00:00,2013-12-25T09:47:00,2013-12-25T09:47:00,NaN,Partner,Transfer,Intact Female
27,2 months,A667311,Dog,Labrador Retriever Mix,Yellow,2013-09-01T00:00:00,2013-11-19T18:30:00,2013-11-19T18:30:00,Promise,NaN,Adoption,Spayed Female
28,4 months,A690699,Dog,Chihuahua Shorthair Mix,Blue/Tan,2014-06-17T00:00:00,2014-11-04T18:03:00,2014-11-04T18:03:00,Minnie,Partner,Transfer,Intact Female
32,3 months,A669918,Dog,Labrador Retriever Mix,Tan/White,2013-09-30T00:00:00,2014-01-03T17:47:00,2014-01-03T17:47:00,NaN,NaN,Adoption,Spayed Female
34,12 years,A678098,Dog,Labrador Retriever Mix,Black/White,2002-05-08T00:00:00,2014-07-09T11:54:00,2014-07-09T11:54:00,Shades,Foster,Adoption,Neutered Male
36,2 years,A677038,Dog,Chihuahua Shorthair Mix,Buff,2012-04-22T00:00:00,2014-04-26T13:00:00,2014-04-26T13:00:00,*Penny,NaN,Adoption,Spayed Female
37,4 years,A665344,Dog,Chihuahua Shorthair Mix,Red/White,2009-10-16T00:00:00,2013-11-02T17:47:00,2013-11-02T17:47:00,Ginger,NaN,Adoption,Spayed Female
39,1 year,A675394,Dog,Miniature Pinscher Mix,Black/White,2012-09-27T00:00:00,2014-04-03T13:26:00,2014-04-03T13:26:00,*Josh,Partner,Transfer,Intact Male
42,3 months,A673439,Dog,Cardigan Welsh Corgi/English Setter,White/Black,2013-11-24T00:00:00,2014-02-28T10:47:00,2014-02-28T10:47:00,Aria,NaN,Adoption,Spayed Female
45,3 years,A647382,Dog,Border Collie Mix,Black/White,2010-08-09T00:00:00,2013-10-13T15:10:00,2013-10-13T15:10:00,Oreo,NaN,Adoption,Spayed Female
47,2 years,A660098,Dog,Pit Bull Mix,Brown Merle/White,2011-08-03T00:00:00,2013-10-14T11:42:00,2013-10-14T11:42:00,Delilah,Partner,Transfer,Spayed Female
48,1 year,A693005,Dog,Boxer Mix,Brown,2013-11-29T00:00:00,2014-12-01T18:30:00,2014-12-01T18:30:00,Lex,NaN,Return to Owner,Neutered Male
52,5 years,A688352,Dog,Parson Russell Terrier Mix,White/Brown Brindle,2009-09-18T00:00:00,2014-10-05T18:29:00,2014-10-05T18:29:00,*Brody,NaN,Adoption,Neutered Male
53,6 years,A545127,Dog,Pit Bull Mix,Black/White,2007-05-31T00:00:00,2014-05-04T15:20:00,2014-05-04T15:20:00,Ittybitty,Aggressive,Euthanasia,Spayed Female
54,3 years,A661023,Dog,Miniature Poodle Mix,White,2010-08-15T00:00:00,2013-10-15T11:14:00,2013-10-15T11:14:00,Lucky,Foster,Adoption,Neutered Male
55,3 years,A673648,Dog,Pit Bull Mix,White/Brown,2011-02-28T00:00:00,2014-03-09T11:34:00,2014-03-09T11:34:00,Coco,NaN,Return to Owner,Intact Female

In [174]:
dfdogs_cleaned = dfdogs.drop(columns = ["age_upon_outcome", "animal_type", "color", "name", "outcome_subtype", "monthyear"])


dfdogs_cleaned.head(15)

,animal_id,breed,date_of_birth,datetime,outcome_type,sex_upon_outcome
1,A666430,Beagle Mix,2012-11-06T00:00:00,2013-11-07T11:47:00,Transfer,Spayed Female
2,A675708,Pit Bull,2013-03-31T00:00:00,2014-06-03T14:20:00,Adoption,Neutered Male
3,A680386,Miniature Schnauzer Mix,2005-06-02T00:00:00,2014-06-15T15:50:00,Transfer,Neutered Male
5,A664462,Leonberger Mix,2013-06-03T00:00:00,2013-10-07T13:06:00,Transfer,Intact Male
7,A692618,Chihuahua Shorthair Mix,2011-11-23T00:00:00,2014-12-08T15:55:00,Transfer,Spayed Female
11,A673652,Papillon/Border Collie,2012-02-28T00:00:00,2014-03-28T14:39:00,Transfer,Neutered Male
12,A677679,Chihuahua Shorthair/Pomeranian,2014-03-07T00:00:00,2014-05-26T19:10:00,Adoption,Neutered Male
13,A640655,Miniature Schnauzer/Miniature Poodle,2009-04-27T00:00:00,2014-04-25T11:17:00,Return to Owner,Spayed Female
14,A690350,Labrador Retriever Mix,2006-10-18T00:00:00,2014-10-26T18:20:00,Return to Owner,Neutered Male
15,A680396,Rat Terrier Mix,2012-06-02T00:00:00,2014-06-15T15:11:00,Transfer,Neutered Male
16,A674298,Pit Bull Mix,2013-03-11T00:00:00,2014-04-16T12:51:00,Transfer,Neutered Male
18,A692378,German Shepherd/Labrador Retriever,2014-10-19T00:00:00,2014-12-21T18:20:00,Adoption,Spayed Female
22,A666660,Beagle Mix,2012-05-05T00:00:00,2014-12-11T17:52:00,Adoption,Spayed Female
25,A689952,Mastiff Mix,2013-10-11T00:00:00,2014-10-19T17:54:00,Adoption,Spayed Female
26,A669621,Plott Hound Mix,2013-08-23T00:00:00,2013-12-25T09:47:00,Transfer,Intact Female

In [175]:
dfdogs_cleaned["date_of_birth"] = pd.to_datetime(dfdogs_cleaned["date_of_birth"])
dfdogs_cleaned["datetime"] = pd.to_datetime(dfdogs_cleaned["datetime"])
dfdogs_cleaned.head()

,animal_id,breed,date_of_birth,datetime,outcome_type,sex_upon_outcome
1,A666430,Beagle Mix,2012-11-06,2013-11-07 11:47:00,Transfer,Spayed Female
2,A675708,Pit Bull,2013-03-31,2014-06-03 14:20:00,Adoption,Neutered Male
3,A680386,Miniature Schnauzer Mix,2005-06-02,2014-06-15 15:50:00,Transfer,Neutered Male
5,A664462,Leonberger Mix,2013-06-03,2013-10-07 13:06:00,Transfer,Intact Male
7,A692618,Chihuahua Shorthair Mix,2011-11-23,2014-12-08 15:55:00,Transfer,Spayed Female

In [176]:
breedsframe =dfdogs_cleaned["breed"].value_counts().to_frame()
breedslist = breedsframe.index
dog_df_breeds = dfdogs_cleaned.loc[dfdogs_cleaned["breed"].isin(breedslist[0:10])]

dog_df_breeds

,animal_id,breed,date_of_birth,datetime,outcome_type,sex_upon_outcome
7,A692618,Chihuahua Shorthair Mix,2011-11-23,2014-12-08 15:55:00,Transfer,Spayed Female
14,A690350,Labrador Retriever Mix,2006-10-18,2014-10-26 18:20:00,Return to Owner,Neutered Male
16,A674298,Pit Bull Mix,2013-03-11,2014-04-16 12:51:00,Transfer,Neutered Male
27,A667311,Labrador Retriever Mix,2013-09-01,2013-11-19 18:30:00,Adoption,Spayed Female
28,A690699,Chihuahua Shorthair Mix,2014-06-17,2014-11-04 18:03:00,Transfer,Intact Female
...,...,...,...,...,...,...
78246,A738395,Chihuahua Shorthair Mix,2015-11-14,2018-02-01 18:23:00,Adoption,Neutered Male
78247,A761266,Border Collie Mix,2015-11-01,2018-02-01 18:32:00,Return to Owner,Spayed Female
78248,A725872,German Shepherd Mix,2016-02-03,2018-02-01 18:20:00,Return to Owner,Intact Female
78249,A761265,Border Collie Mix,2015-11-01,2018-02-01 18:31:00,Return to Owner,Neutered Male
78255,A765857,Labrador Retriever Mix,2017-11-13,2018-02-01 18:44:00,Adoption,Neutered Male

In [177]:
dog_df_breeds["age"]  = (dog_df_breeds["datetime"] - dog_df_breeds["date_of_birth"])/ np.timedelta64(1, 'Y')

dog_df_breeds

dog_df_breeds["Success"] = 0
dog_df_breeds["Sex"] = ""

dog_df_breeds.loc[dog_df_breeds.outcome_type == "Adoption", "Success" ] = 1

dog_df_breeds.loc[dog_df_breeds.sex_upon_outcome == "Spayed Female", "Sex" ] = "Female"
dog_df_breeds.loc[dog_df_breeds.sex_upon_outcome == "Intact Female", "Sex" ] = "Female"
dog_df_breeds.loc[dog_df_breeds.sex_upon_outcome == "Neutered Male", "Sex" ] = "Male"
dog_df_breeds.loc[dog_df_breeds.sex_upon_outcome == "Intact Male", "Sex" ] = "Male"

dog_df_breeds = dog_df_breeds.drop(columns= ["outcome_type", "sex_upon_outcome", "date_of_birth", "datetime"])
dog_df_breeds = dog_df_breeds.dropna()

dog_df_breeds = dog_df_breeds[dog_df_breeds.Sex != ""]

dog_df_breeds.head()

C:\Users\Hussa\AppData\Local\Temp/ipykernel_7732/3780414620.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dog_df_breeds["age"]  = (dog_df_breeds["datetime"] - dog_df_breeds["date_of_birth"])/ np.timedelta64(1, 'Y')
C:\Users\Hussa\AppData\Local\Temp/ipykernel_7732/3780414620.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dog_df_breeds["Success"] = 0
C:\Users\Hussa\AppData\Local\Temp/ipykernel_7732/3780414620.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dog_df_breeds["Sex"] = ""
C:\Users\Hussa\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

   animal_id                    breed       age  Success     Sex
7    A692618  Chihuahua Shorthair Mix  3.043630        0  Female
14   A690350   Labrador Retriever Mix  8.024159        0    Male
16   A674298             Pit Bull Mix  1.099367        0    Male
27   A667311   Labrador Retriever Mix  0.218405        1  Female
28   A690699  Chihuahua Shorthair Mix  0.385366        0  Female

In [179]:
breed_df = pd.read_csv("raw data/Breed_data.csv")

breed_df.head()

                       Breed    Size  life_expectancy
0               Pit Bull Mix   large               11
1    Chihuahua Shorthair Mix   small               15
2     Labrador Retriever Mix  large                13
3        German Shepherd Mix   large               10
4  Australian Cattle Dog Mix  medium               13

In [180]:
breed_df = breed_df.rename(columns={'Breed': 'breed'})

breed_df.head()

                       breed    Size  life_expectancy
0               Pit Bull Mix   large               11
1    Chihuahua Shorthair Mix   small               15
2     Labrador Retriever Mix  large                13
3        German Shepherd Mix   large               10
4  Australian Cattle Dog Mix  medium               13

In [196]:
shelter_df = dog_df_breeds.merge(breed_df, how='inner', on='breed', right_index=False)

shelter_df["Percent through Life"] =  shelter_df["age"]/ shelter_df["life_expectancy"]

shelter_df.to_csv("Shelter Data.csv")

shelter_df = shelter_df.drop(columns=["animal_id", "age", "life_expectancy"])
shelter_df

                         breed  Success     Sex   Size  Percent through Life
0      Chihuahua Shorthair Mix        0  Female  small              0.202909
1      Chihuahua Shorthair Mix        0  Female  small              0.025691
2      Chihuahua Shorthair Mix        1  Female  small              0.134074
3      Chihuahua Shorthair Mix        1  Female  small              0.269910
4      Chihuahua Shorthair Mix        1  Female  small              0.067847
...                        ...      ...     ...    ...                   ...
21512            Catahoula Mix        0  Female  large              0.049442
21513            Catahoula Mix        0  Female  large              0.425892
21514            Catahoula Mix        1  Female  large              0.442088
21515            Catahoula Mix        1    Male  large              0.084342
21516            Catahoula Mix        0  Female  large              0.074966

[21517 rows x 5 columns]

In [182]:
# Generate our categorical variable lists
breed_cat = shelter_df.dtypes[shelter_df.dtypes == "object"].index.tolist()
shelter_df[breed_cat].nunique()

breed    10
Sex       2
Size      4
dtype: int64

In [183]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import tensorflow as tf


# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(shelter_df[breed_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(breed_cat)
encode_df.head()

C:\Users\Hussa\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,breed_Australian Cattle Dog Mix,breed_Border Collie Mix,breed_Boxer Mix,breed_Catahoula Mix,breed_Chihuahua Shorthair Mix,breed_Dachshund Mix,breed_German Shepherd Mix,breed_Labrador Retriever Mix,breed_Miniature Poodle Mix,breed_Pit Bull Mix,Sex_Female,Sex_Male,Size_large,Size_large,Size_medium,Size_small
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [184]:
shelter_df = shelter_df.merge(encode_df,left_index=True, right_index=True)
shelter_df = shelter_df.drop(breed_cat,1)
shelter_df.head()

C:\Users\Hussa\AppData\Local\Temp/ipykernel_7732/3043937639.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  shelter_df = shelter_df.drop(breed_cat,1)

,Success,Percent through Life,breed_Australian Cattle Dog Mix,breed_Border Collie Mix,breed_Boxer Mix,breed_Catahoula Mix,breed_Chihuahua Shorthair Mix,breed_Dachshund Mix,breed_German Shepherd Mix,breed_Labrador Retriever Mix,breed_Miniature Poodle Mix,breed_Pit Bull Mix,Sex_Female,Sex_Male,Size_large,Size_large,Size_medium,Size_small
0,0,0.202909,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,0,0.025691,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,1,0.134074,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,1,0.269910,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,1,0.067847,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [185]:
# Split our preprocessed data into our features and target arrays
y = shelter_df["Success"].values
X = shelter_df.drop(["Success"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=10)

C:\Users\Hussa\AppData\Local\Temp/ipykernel_7732/458487920.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = shelter_df.drop(["Success"],1).values

In [186]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [191]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  15
hidden_nodes_layer2 = 6

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 15)                270

 dense_16 (Dense)            (None, 6)                 96

 dense_17 (Dense)            (None, 1)                 7

=================================================================
Total params: 373
Trainable params: 373
Non-trainable params: 0
_________________________________________________________________

In [192]:
# Compile the model
from tensorflow.keras.callbacks import ModelCheckpoint
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [194]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=200)

Epoch 1/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6557 - accuracy: 0.6106
Epoch 2/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6558 - accuracy: 0.6112
Epoch 3/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6557 - accuracy: 0.6124
Epoch 4/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6558 - accuracy: 0.6113
Epoch 5/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6556 - accuracy: 0.6124
Epoch 6/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6557 - accuracy: 0.6119
Epoch 7/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6555 - accuracy: 0.6113
Epoch 8/200
505/505 [==============================] - 0s 983us/step - loss: 0.6557 - accuracy: 0.6123
Epoch 9/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6557 - accuracy: 0.6118
Epoch 10/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6556 - accuracy: 0.6121
Epoch 11/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6555 - accuracy: 0.6098: 0s - loss: 0.6596 -
Epoch 12/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6556 - accuracy: 0.6110
Epoch 13/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6554 - accuracy: 0.6103
Epoch 14/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6556 - accuracy: 0.6099
Epoch 15/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6557 - accuracy: 0.6118
Epoch 16/200
505/505 [==============================] - 0s 988us/step - loss: 0.6554 - accuracy: 0.6118
Epoch 17/200
505/505 [==============================] - 0s 912us/step - loss: 0.6555 - accuracy: 0.6119
Epoch 18/200
505/505 [==============================] - 0s 943us/step - loss: 0.6554 - accuracy: 0.6115
Epoch 19/200
505/505 [==============================] - 0s 949us/step - loss: 0.6554 - accuracy: 0.6113
Epoch 20/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6556 - accuracy: 0.6103
Epoch 21/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6554 - accuracy: 0.6126
Epoch 22/200
505/505 [==============================] - 0s 928us/step - loss: 0.6553 - accuracy: 0.6122
Epoch 23/200
505/505 [==============================] - 0s 930us/step - loss: 0.6553 - accuracy: 0.6123
Epoch 24/200
505/505 [==============================] - 0s 922us/step - loss: 0.6556 - accuracy: 0.6117
Epoch 25/200
505/505 [==============================] - 0s 943us/step - loss: 0.6554 - accuracy: 0.6120
Epoch 26/200
505/505 [==============================] - 0s 975us/step - loss: 0.6552 - accuracy: 0.6115
Epoch 27/200
505/505 [==============================] - 0s 950us/step - loss: 0.6554 - accuracy: 0.6111
Epoch 28/200
505/505 [==============================] - 0s 906us/step - loss: 0.6552 - accuracy: 0.6127
Epoch 29/200
505/505 [==============================] - 0s 964us/step - loss: 0.6554 - accuracy: 0.6118
Epoch 30/200
505/505 [==============================] - 0s 930us/step - loss: 0.6551 - accuracy: 0.6104
Epoch 31/200
505/505 [==============================] - 0s 970us/step - loss: 0.6552 - accuracy: 0.6124
Epoch 32/200
505/505 [==============================] - 0s 897us/step - loss: 0.6553 - accuracy: 0.6116
Epoch 33/200
505/505 [==============================] - 0s 932us/step - loss: 0.6553 - accuracy: 0.6128
Epoch 34/200
505/505 [==============================] - 0s 901us/step - loss: 0.6551 - accuracy: 0.6115
Epoch 35/200
505/505 [==============================] - 0s 955us/step - loss: 0.6553 - accuracy: 0.6119
Epoch 36/200
505/505 [==============================] - 0s 897us/step - loss: 0.6552 - accuracy: 0.6114
Epoch 37/200
505/505 [==============================] - 0s 920us/step - loss: 0.6550 - accuracy: 0.6124
Epoch 38/200
505/505 [==============================] - 0s 961us/step - loss: 0.6553 - accuracy: 0.6130
Epoch 39/200
505/505 [==============================] - 0s 919us/step - loss: 0.6553 - accuracy: 0.6120
Epoch 40/200
505/505 [==============================] - 0s 959us/step - loss: 0.6552 - accuracy: 0.6117
Epoch 41/200
505/505 [==============================] - 0s 899us/step - loss: 0.6551 - accuracy: 0.6113
Epoch 42/200
505/505 [==============================] - 0s 979us/step - loss: 0.6552 - accuracy: 0.6116
Epoch 43/200
505/505 [==============================] - 0s 967us/step - loss: 0.6550 - accuracy: 0.6106
Epoch 44/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6553 - accuracy: 0.6131
Epoch 45/200
505/505 [==============================] - 0s 906us/step - loss: 0.6551 - accuracy: 0.6113
Epoch 46/200
505/505 [==============================] - 0s 956us/step - loss: 0.6550 - accuracy: 0.6117
Epoch 47/200
505/505 [==============================] - 0s 931us/step - loss: 0.6551 - accuracy: 0.6115
Epoch 48/200
505/505 [==============================] - 0s 988us/step - loss: 0.6550 - accuracy: 0.6116
Epoch 49/200
505/505 [==============================] - 0s 906us/step - loss: 0.6551 - accuracy: 0.6126
Epoch 50/200
505/505 [==============================] - 0s 936us/step - loss: 0.6550 - accuracy: 0.6129
Epoch 51/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6552 - accuracy: 0.6129
Epoch 52/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6549 - accuracy: 0.6131
Epoch 53/200
505/505 [==============================] - 0s 956us/step - loss: 0.6551 - accuracy: 0.6124
Epoch 54/200
505/505 [==============================] - 0s 950us/step - loss: 0.6549 - accuracy: 0.6118
Epoch 55/200
505/505 [==============================] - 0s 883us/step - loss: 0.6549 - accuracy: 0.6123
Epoch 56/200
505/505 [==============================] - 0s 918us/step - loss: 0.6550 - accuracy: 0.6111
Epoch 57/200
505/505 [==============================] - 0s 887us/step - loss: 0.6549 - accuracy: 0.6109
Epoch 58/200
505/505 [==============================] - 0s 928us/step - loss: 0.6551 - accuracy: 0.6128
Epoch 59/200
505/505 [==============================] - 0s 970us/step - loss: 0.6548 - accuracy: 0.6112
Epoch 60/200
505/505 [==============================] - 0s 984us/step - loss: 0.6550 - accuracy: 0.6133
Epoch 61/200
505/505 [==============================] - 0s 960us/step - loss: 0.6548 - accuracy: 0.6129
Epoch 62/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6549 - accuracy: 0.6111
Epoch 63/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6549 - accuracy: 0.6128
Epoch 64/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6550 - accuracy: 0.6142
Epoch 65/200
505/505 [==============================] - 1s 1000us/step - loss: 0.6551 - accuracy: 0.6110s - loss: 0.6562 - accuracy: 0.
Epoch 66/200
505/505 [==============================] - 0s 884us/step - loss: 0.6549 - accuracy: 0.6134
Epoch 67/200
505/505 [==============================] - 0s 928us/step - loss: 0.6549 - accuracy: 0.6133
Epoch 68/200
505/505 [==============================] - 0s 946us/step - loss: 0.6549 - accuracy: 0.6131
Epoch 69/200
505/505 [==============================] - 0s 897us/step - loss: 0.6549 - accuracy: 0.6127
Epoch 70/200
505/505 [==============================] - 0s 940us/step - loss: 0.6548 - accuracy: 0.6115
Epoch 71/200
505/505 [==============================] - 0s 942us/step - loss: 0.6549 - accuracy: 0.6106
Epoch 72/200
505/505 [==============================] - 0s 926us/step - loss: 0.6548 - accuracy: 0.6110
Epoch 73/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6550 - accuracy: 0.6122
Epoch 74/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6548 - accuracy: 0.6123
Epoch 75/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6549 - accuracy: 0.6119
Epoch 76/200
505/505 [==============================] - 0s 972us/step - loss: 0.6548 - accuracy: 0.6112
Epoch 77/200
505/505 [==============================] - 0s 906us/step - loss: 0.6546 - accuracy: 0.6123
Epoch 78/200
505/505 [==============================] - 0s 936us/step - loss: 0.6549 - accuracy: 0.6119
Epoch 79/200
505/505 [==============================] - 0s 928us/step - loss: 0.6548 - accuracy: 0.6122
Epoch 80/200
505/505 [==============================] - 0s 929us/step - loss: 0.6546 - accuracy: 0.6140
Epoch 81/200
505/505 [==============================] - 0s 910us/step - loss: 0.6548 - accuracy: 0.6137
Epoch 82/200
505/505 [==============================] - 0s 974us/step - loss: 0.6548 - accuracy: 0.6120
Epoch 83/200
505/505 [==============================] - 1s 998us/step - loss: 0.6548 - accuracy: 0.6112
Epoch 84/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6548 - accuracy: 0.6126
Epoch 85/200
505/505 [==============================] - 0s 924us/step - loss: 0.6546 - accuracy: 0.6135
Epoch 86/200
505/505 [==============================] - 0s 977us/step - loss: 0.6547 - accuracy: 0.6120
Epoch 87/200
505/505 [==============================] - 0s 934us/step - loss: 0.6548 - accuracy: 0.6132
Epoch 88/200
505/505 [==============================] - 0s 916us/step - loss: 0.6546 - accuracy: 0.6118
Epoch 89/200
505/505 [==============================] - 0s 940us/step - loss: 0.6546 - accuracy: 0.6121
Epoch 90/200
505/505 [==============================] - 0s 901us/step - loss: 0.6547 - accuracy: 0.6125
Epoch 91/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6547 - accuracy: 0.6124
Epoch 92/200
505/505 [==============================] - 0s 948us/step - loss: 0.6545 - accuracy: 0.61310s - loss: 0.6526 - accuracy:
Epoch 93/200
505/505 [==============================] - 1s 997us/step - loss: 0.6548 - accuracy: 0.6119
Epoch 94/200
505/505 [==============================] - 0s 949us/step - loss: 0.6545 - accuracy: 0.6134
Epoch 95/200
505/505 [==============================] - 0s 931us/step - loss: 0.6545 - accuracy: 0.6112
Epoch 96/200
505/505 [==============================] - 0s 908us/step - loss: 0.6546 - accuracy: 0.6123
Epoch 97/200
505/505 [==============================] - 0s 928us/step - loss: 0.6547 - accuracy: 0.6139
Epoch 98/200
505/505 [==============================] - 0s 936us/step - loss: 0.6546 - accuracy: 0.6121
Epoch 99/200
505/505 [==============================] - 0s 966us/step - loss: 0.6548 - accuracy: 0.6115
Epoch 100/200
505/505 [==============================] - 0s 900us/step - loss: 0.6547 - accuracy: 0.6116
Epoch 101/200
505/505 [==============================] - 0s 976us/step - loss: 0.6545 - accuracy: 0.6127
Epoch 102/200
505/505 [==============================] - 0s 929us/step - loss: 0.6546 - accuracy: 0.6112
Epoch 103/200
505/505 [==============================] - 0s 934us/step - loss: 0.6544 - accuracy: 0.6128
Epoch 104/200
505/505 [==============================] - 0s 932us/step - loss: 0.6544 - accuracy: 0.6122
Epoch 105/200
505/505 [==============================] - 0s 887us/step - loss: 0.6545 - accuracy: 0.6125
Epoch 106/200
505/505 [==============================] - 0s 926us/step - loss: 0.6547 - accuracy: 0.6129
Epoch 107/200
505/505 [==============================] - 0s 906us/step - loss: 0.6547 - accuracy: 0.6109
Epoch 108/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6545 - accuracy: 0.6119
Epoch 109/200
505/505 [==============================] - 0s 924us/step - loss: 0.6544 - accuracy: 0.6113
Epoch 110/200
505/505 [==============================] - 0s 921us/step - loss: 0.6546 - accuracy: 0.6119
Epoch 111/200
505/505 [==============================] - 0s 918us/step - loss: 0.6543 - accuracy: 0.6129
Epoch 112/200
505/505 [==============================] - 0s 946us/step - loss: 0.6545 - accuracy: 0.6125
Epoch 113/200
505/505 [==============================] - 0s 934us/step - loss: 0.6545 - accuracy: 0.6139
Epoch 114/200
505/505 [==============================] - 0s 922us/step - loss: 0.6544 - accuracy: 0.6126
Epoch 115/200
505/505 [==============================] - 0s 887us/step - loss: 0.6545 - accuracy: 0.6115
Epoch 116/200
505/505 [==============================] - 0s 930us/step - loss: 0.6546 - accuracy: 0.6129
Epoch 117/200
505/505 [==============================] - 0s 948us/step - loss: 0.6545 - accuracy: 0.6131
Epoch 118/200
505/505 [==============================] - 0s 910us/step - loss: 0.6544 - accuracy: 0.6134
Epoch 119/200
505/505 [==============================] - 0s 952us/step - loss: 0.6547 - accuracy: 0.6118
Epoch 120/200
505/505 [==============================] - 0s 918us/step - loss: 0.6546 - accuracy: 0.6132
Epoch 121/200
505/505 [==============================] - 0s 940us/step - loss: 0.6545 - accuracy: 0.6121
Epoch 122/200
505/505 [==============================] - 0s 904us/step - loss: 0.6546 - accuracy: 0.6138
Epoch 123/200
505/505 [==============================] - 0s 934us/step - loss: 0.6545 - accuracy: 0.6123
Epoch 124/200
505/505 [==============================] - 0s 916us/step - loss: 0.6544 - accuracy: 0.6113
Epoch 125/200
505/505 [==============================] - 0s 978us/step - loss: 0.6545 - accuracy: 0.6128
Epoch 126/200
505/505 [==============================] - 0s 909us/step - loss: 0.6544 - accuracy: 0.6127
Epoch 127/200
505/505 [==============================] - 0s 916us/step - loss: 0.6541 - accuracy: 0.6126
Epoch 128/200
505/505 [==============================] - 0s 915us/step - loss: 0.6545 - accuracy: 0.6121
Epoch 129/200
505/505 [==============================] - 0s 944us/step - loss: 0.6544 - accuracy: 0.6132
Epoch 130/200
505/505 [==============================] - 0s 937us/step - loss: 0.6544 - accuracy: 0.6110
Epoch 131/200
505/505 [==============================] - 0s 924us/step - loss: 0.6544 - accuracy: 0.6113
Epoch 132/200
505/505 [==============================] - 0s 936us/step - loss: 0.6545 - accuracy: 0.6116
Epoch 133/200
505/505 [==============================] - 0s 885us/step - loss: 0.6543 - accuracy: 0.6129
Epoch 134/200
505/505 [==============================] - 0s 957us/step - loss: 0.6545 - accuracy: 0.6123
Epoch 135/200
505/505 [==============================] - 0s 875us/step - loss: 0.6543 - accuracy: 0.6125
Epoch 136/200
505/505 [==============================] - 0s 932us/step - loss: 0.6542 - accuracy: 0.6113
Epoch 137/200
505/505 [==============================] - 0s 932us/step - loss: 0.6540 - accuracy: 0.6124
Epoch 138/200
505/505 [==============================] - 0s 971us/step - loss: 0.6542 - accuracy: 0.6115
Epoch 139/200
505/505 [==============================] - 0s 944us/step - loss: 0.6544 - accuracy: 0.6130
Epoch 140/200
505/505 [==============================] - 0s 954us/step - loss: 0.6542 - accuracy: 0.6128
Epoch 141/200
505/505 [==============================] - 0s 948us/step - loss: 0.6545 - accuracy: 0.6118
Epoch 142/200
505/505 [==============================] - 0s 959us/step - loss: 0.6544 - accuracy: 0.6137
Epoch 143/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6541 - accuracy: 0.6130
Epoch 144/200
505/505 [==============================] - 0s 975us/step - loss: 0.6543 - accuracy: 0.6122
Epoch 145/200
505/505 [==============================] - 0s 922us/step - loss: 0.6543 - accuracy: 0.6115
Epoch 146/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6543 - accuracy: 0.6121
Epoch 147/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6542 - accuracy: 0.6120
Epoch 148/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6544 - accuracy: 0.6119
Epoch 149/200
505/505 [==============================] - 0s 950us/step - loss: 0.6543 - accuracy: 0.6104
Epoch 150/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6543 - accuracy: 0.6130
Epoch 151/200
505/505 [==============================] - 0s 941us/step - loss: 0.6542 - accuracy: 0.6121
Epoch 152/200
505/505 [==============================] - 1s 989us/step - loss: 0.6543 - accuracy: 0.6112
Epoch 153/200
505/505 [==============================] - 0s 926us/step - loss: 0.6543 - accuracy: 0.6120
Epoch 154/200
505/505 [==============================] - 1s 994us/step - loss: 0.6543 - accuracy: 0.6137
Epoch 155/200
505/505 [==============================] - 0s 935us/step - loss: 0.6541 - accuracy: 0.6110
Epoch 156/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6541 - accuracy: 0.6132
Epoch 157/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6541 - accuracy: 0.6126
Epoch 158/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6541 - accuracy: 0.6137
Epoch 159/200
505/505 [==============================] - 0s 948us/step - loss: 0.6542 - accuracy: 0.6118
Epoch 160/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6542 - accuracy: 0.6112
Epoch 161/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6540 - accuracy: 0.6118
Epoch 162/200
505/505 [==============================] - 1s 990us/step - loss: 0.6540 - accuracy: 0.6122
Epoch 163/200
505/505 [==============================] - 0s 974us/step - loss: 0.6543 - accuracy: 0.6127
Epoch 164/200
505/505 [==============================] - 0s 964us/step - loss: 0.6539 - accuracy: 0.6132
Epoch 165/200
505/505 [==============================] - 0s 956us/step - loss: 0.6541 - accuracy: 0.6121
Epoch 166/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6542 - accuracy: 0.6111
Epoch 167/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6542 - accuracy: 0.6103
Epoch 168/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6543 - accuracy: 0.6121
Epoch 169/200
505/505 [==============================] - 0s 954us/step - loss: 0.6540 - accuracy: 0.6111
Epoch 170/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6541 - accuracy: 0.6137
Epoch 171/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6541 - accuracy: 0.6123
Epoch 172/200
505/505 [==============================] - 0s 984us/step - loss: 0.6540 - accuracy: 0.6125
Epoch 173/200
505/505 [==============================] - 0s 976us/step - loss: 0.6543 - accuracy: 0.6121
Epoch 174/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6539 - accuracy: 0.6119
Epoch 175/200
505/505 [==============================] - 0s 958us/step - loss: 0.6542 - accuracy: 0.6117
Epoch 176/200
505/505 [==============================] - 0s 931us/step - loss: 0.6540 - accuracy: 0.6121
Epoch 177/200
505/505 [==============================] - 0s 943us/step - loss: 0.6539 - accuracy: 0.6119
Epoch 178/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6539 - accuracy: 0.6112
Epoch 179/200
505/505 [==============================] - 0s 962us/step - loss: 0.6540 - accuracy: 0.6130
Epoch 180/200
505/505 [==============================] - 0s 929us/step - loss: 0.6540 - accuracy: 0.6118
Epoch 181/200
505/505 [==============================] - 0s 919us/step - loss: 0.6540 - accuracy: 0.6131
Epoch 182/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6540 - accuracy: 0.6117
Epoch 183/200
505/505 [==============================] - 0s 960us/step - loss: 0.6542 - accuracy: 0.6120
Epoch 184/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6539 - accuracy: 0.6121
Epoch 185/200
505/505 [==============================] - 0s 927us/step - loss: 0.6540 - accuracy: 0.6119
Epoch 186/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6539 - accuracy: 0.6116
Epoch 187/200
505/505 [==============================] - 0s 957us/step - loss: 0.6541 - accuracy: 0.6118
Epoch 188/200
505/505 [==============================] - 1s 1ms/step - loss: 0.6539 - accuracy: 0.6112
Epoch 189/200
505/505 [==============================] - 0s 936us/step - loss: 0.6539 - accuracy: 0.6133
Epoch 190/200
505/505 [==============================] - 0s 983us/step - loss: 0.6543 - accuracy: 0.6137
Epoch 191/200
505/505 [==============================] - 0s 895us/step - loss: 0.6539 - accuracy: 0.6126
Epoch 192/200

In [190]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

169/169 - 0s - loss: 0.8155 - accuracy: 0.5894 - 219ms/epoch - 1ms/step
Loss: 0.8154821395874023, Accuracy: 0.5894051790237427