In [1]:
import time
import pandas as pd
from config import db_password
from sqlalchemy import create_engine

In [2]:
file = 'aac_shelter_outcomes.csv'
shelter_df = pd.read_csv(file, index_col = 0)
shelter_df.head()

,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
age_upon_outcome,,,,,,,,,,,
2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male
1 year,A666430,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Lucy,Partner,Transfer,Spayed Female
1 year,A675708,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,*Johnny,NaN,Adoption,Neutered Male
9 years,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Monday,Partner,Transfer,Neutered Male
5 months,A683115,Other,Bat Mix,Brown,2014-01-07T00:00:00,2014-07-07T14:04:00,2014-07-07T14:04:00,NaN,Rabies Risk,Euthanasia,Unknown

In [7]:
shelter_df.count()

animal_id           78256
animal_type         78256
breed               78256
color               78256
date_of_birth       78256
datetime            78256
monthyear           78256
name                54370
outcome_subtype     35963
outcome_type        78244
sex_upon_outcome    78254
dtype: int64

In [3]:
#insert connection string to connect pandas to sql
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Practice"

In [4]:
#create a database engine so that SQLAlchemy can communicate and convert datatypes between SQL and pandas
engine = create_engine(db_string)

In [6]:
#import dataframe to sql table
shelter_df.to_sql(name='shelter_table', con=engine)